$color_white: #fff;
$color_orange: #F9804B;
$color_border: #FA6F32;
$color_btn_hover: #FA6F32;

$color_btn_mistaken: #D31414;
$color_yellow: #FFEE2E;
$color_black:#000000;
$color_btns: #FE9013;
$color_green:#4B9200;
$color_frosted-glass: #FDFDFF85;
$color_small_paragraph:#767474 ;
$typography_color:#333B41;
$progress_bar_color: #404950;
$footer_bg_color: #111115;
$orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
