body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    padding: 10px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .gh-logo {
    width: 35px;
    height: 35px;
    background-image: url('./assets/iconmonstr-github-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear;
}

footer .rss-logo {
    width: 100px;
    height: 37px;
    background-image: url('./assets/rss-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.1s linear;
}

footer .rss-logo:hover,
footer .gh-logo:hover {
    scale: 1.1;
}
