<div class="container">
  <div class="quiz__wrapper">
    <div class="quiz__header">
      <img class="quiz__logo" src="./assets/Songbird.svg" alt="logo" />
      <span class="quiz__score"></span>
    </div>
    <div class="quiz__birds-list"></div>
    <div class="quiz__guess-item">
      <div class="quiz__guess-bird">
        <img class="quiz__guess-bird-img" src="./assets/guessBird.jpg" alt="" />
      </div>
      <div class="quiz__guess-bird-descr">
        <h3 class="quiz__guess-bird-title">******</h3>
        <div class="quiz__guess-bird-audio"></div>
      </div>
    </div>
    <div class="quiz__answers">
      <div class="quiz__answers-birds"></div>
      <div class="quiz__answers-chosen">
        <span class="instructions"></span>
      </div>
    </div>
  </div>
</div>
