@media (max-width: 1599px) {
    .footer {
        padding: 40px 31px 50px 30px;
        &__socials {
        &-btn {
            margin-top: 68px;
        }
    }
        
       &__menu {
        margin: 0;
        z-index: 1;
        
        &-item {
            margin-right: 48px;
        }
       }
       &__about {
        margin-left: -75px;
        &-subscribe {
            position: absolute;
            right: 63px;
        }
        &-authors {
            margin-top: 301px;
            padding-left: 156px;
        }
       }
    }
  
    
}

@media (max-width: 999px) {
    
    .footer {
        padding: 12px 0px;
        min-height: 282px;
        &__wrapper {
            flex-direction: column;
            
        }
        &__socials {
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            &-btn {
                position: absolute;
                margin: 0;
                top: 85px;
            }
            &-links {
                margin-top: 0;
            }
            &-link {
                img {
                    margin-right: 0;
                }
            }
            &-item {
                margin-bottom: 20px;
            }
            
        }
        &__logo {
              width: 82px;
            height: 52px;
            border: 1px solid $color_white;
           
        }
        &__menu {
            margin-top: 72px;
            &-item {
                margin-right: 37px;
            }
        }
        &__about {
            position: relative;
            &-subscribe {
                display: none;
            }
            &-authors {
                margin-top: 0;
                padding-left: 0;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        &__socials{
            &-link {
                span {
                    display: none;
                }
            }
        }
        & .logo {
            &__name {
                font-size: 19px;
                line-height: 23px;
                background-size: unset;
                background-position: left 7px bottom 5px;
            }
        }
    }

    
}

@media (max-width: 639px) {
    
    .footer {
        position: relative;
        
        .logo {
            padding: 0;
            &__name {
                background-size: 12px;
                background-position: left 73px bottom 5px;
            }
        }
        min-height: 334px;
        padding: 20px 11px;

        &__logo {
            margin-right: 0;
            border:none;
            width: auto;
            height: auto;
            
        }
        &__socials {
            flex-direction: column;
            align-items: center;

            &-links {
                flex-direction: row;
            }
            &-item {
                margin-top: 30px;
                margin-bottom: 0;
                padding: 0 15px;
            }
            &-btn {
                top: 109px;
            }
        }
        &__menu {
            position: absolute;
            margin-top: 0;
            bottom: 20px;
            left: 5px;
            &-item {
                margin-right: 0;
                padding: 0 15px;
            }
        }
        &__about {
            position: unset;
            &-authors {
                font-size: 15px;
                line-height: 18px;
                right: 10px;
                bottom: 75px;
            }
        }
    }
}
@media (max-width: 319px) {
    .footer{
        &__socials-btn {
            max-width: 100%;
        }
        &__menu {
            width: 94%;
            justify-content: space-between;
        }
        &__menu-item {
            padding: 0;
        }
    }
}

