.btn_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

@keyframes textFlewUp {
    from {
        top: 15;
        opacity: 1;
    }
    to {
        top:-13px;
        opacity: 0;

    }
}

.saved {
    position: relative;
    pointer-events: none;
    &::before {
        content:'Saved';
        position: absolute;
        color: aquamarine;
        top: 10px;
        left: 35%;
        font-size: 20px;
        animation: textFlewUp .5s ;
    }
}

.button {
    padding: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    
    &:hover {
        color: white;
        background-color: rgb(47, 84, 102);
        border-color: #f0f2f5;
    }
    
    
    &_start {
        width: 100%;
        border-radius: 10px;
        color:white;
        background-color: rgb(88, 184, 240);
        border: 1px solid rgb(88, 184, 240);
        margin-top: 50px;
        font-size: 24px;
        
    }
    &_restart, &_other, &_save, &_mute, &_cheat {
        margin-bottom: 10px;
        @media (max-width:1000px) {
            height: 30px;
            padding: 0;
        }
    }
    &_mute {
        &_active {
            background:rgb(179, 144, 243) ;
            border: 1px solid rgb(179, 144, 243);
            &:hover {
                background:rgb(179, 144, 243) ;
            border: 1px solid rgb(179, 144, 243);
            }
            
        }
        

    }

    &_main-menu {
        text-align: center;
        margin: auto;
        
        
        
    }
    &_loading {
        margin:  20px 0;
        
    }
    &_cheat {
       margin-bottom: 3px;
        &_active {
            border-color: red;
            color: rgba(red,  0.5);
            pointer-events: none;
            opacity: 0.6;
        }
       
    }
    

}
.main-title {
    text-align: center;
    font-size: 36px;
    margin: 0;
}
.main-wrapper {
    padding-top: 10rem;
}