$main-color: #c1e345;
$text-color: black;
$text-active: red;
$btn-color: #4bb30f;
$page-color: #e0c737;
$neutral-color: gray;
$second-neutral-color: #c6c6c6;
$wrong-color: red;
$right-color: green;
$light-color: #fff;
$progress-color: #fe8daa;
$hover-color: lightblue;
$active-color: #00f8ff;
