*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}



@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/button';
@import 'base/base';

@import 'normalize';
@import 'header';
@import 'promo';
@import 'backstage';
@import 'animals';
@import 'donations';
@import 'testimonials';
@import 'footer';


@import './media/header';
@import './media/footer1';

@import './media/media';

