<div class="audio-player">
  <audio class="audio" src="#"></audio>
  <span class="loader">Loading...</span>
  <div class="controls">
    <div class="controls-btns">
      <div class="play-btn pause"></div>
      <div class="volume-container">
        <div class="volume"></div>
        <div class="volume-progress">
          <input class="volume__input" type="range" min="0" max="100" />
        </div>
      </div>
    </div>
    <div class="progress-info">
      <div class="progress-container">
        <div class="progress">
          <input class="progress__input" type="range" min="0" max="100" />
        </div>
      </div>
      <div class="time">
        <span class="time-current">1</span>
        <span class="time-duration">1</span>
      </div>
    </div>
  </div>
</div>
