@media (max-width: 1599px) {
    .header {
        background-color: $footer_bg_color;
        position: relative;
        padding: 14px 30px;
        z-index: 2;
        &__wrapper {
            justify-content: flex-start;
        }
        &__menu {
            max-width: 432px;
            margin-right: 259px; 
            &-item {
                margin-right: 48px;
            }
            &-link {
                font-weight: 400;
            }
        }      
    }  
}

@media (max-width: 999px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 18px;
        height: 10px;
        span {
            display: block;
           
            width: 100%;
            height: 2px;
            background-color: $color_white;

        }
    }
    .header {
        padding: 2.5px 0;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 34px;
        z-index: 100;
        &__wrapper {
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            margin-right: 0;
        }
        & nav {
            display: none;
        }
        &__info {
            &-link {
                display: none;
            }
        }
    }


}


